<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client Form</title>
</head>
<body>
    <div>
        <label for="name">Name: </label><br>
        <input id="name" type="text" [formControl]="name">
    </div><br>
    <div>
        <label for="name">Email: </label><br>
        <input id="name" type="text" [formControl]="name">
    </div><br>
    <div>
        <label for="name">Address: </label><br>
        <input id="name" type="text" [formControl]="name">
    </div><br>
    <div>
        <label for="name">Password: </label><br>
        <input id="name" type="text" [formControl]="name">
    </div><br>
    <div>
        <label for="name">Repeat Password: </label><br>
        <input id="name" type="text" [formControl]="name">
    </div>
</body>
</html>