<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client Form</title>
</head>
<body>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name </label><br>
            <input id="name" type="text" formControlName="name" placeholder="Enter Name" autocomplete="off">
        </div><br>
        <div>
            <label for="email">Email </label><br>
            <input id="email" type="text" formControlName="email" placeholder="Enter Email" autocomplete="off">
        </div><br>
        <div>
            <label for="address">Address </label><br>
            <input id="address" type="text" formControlName="address" placeholder="Enter Address" autocomplete="off">
        </div><br>
        <div>
            <label for="password">Password </label><br>
            <input id="password" type="password" formControlName="password" placeholder="Enter Password" autocomplete="off">
        </div><br>
        <div>
            <label for="repeat">Repeat Password </label><br>
            <input id="repeat" type="password" formControlName="repeat" placeholder="Repeat Password" autocomplete="off">
        </div><br>
        <button class="button" type="submit">Register</button>
    </form>
</body>
</html>