<head>
      <p>Dashboard</p>
  </head>
  
  <body>
      <li class="nav-item">
        <a routerLink="dashboard" class="nav-link active" aria-current="page">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="form" class="nav-link active">
          Client Form
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="meeting" class="nav-link active">
          Meetings
        </a>
      </li>
        
      <router-outlet></router-outlet>
  </body>
  