<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetings</title>
</head>
<body>
    <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="topic">Meeting Topic </label><br>
            <input id="topic" type="text" formControlName="topic" placeholder="Enter Meeting Topic" autocomplete="off">
        </div><br>
        <div>
            <label for="num">Number of People </label><br>
            <input id="num" type="text" formControlName="num" placeholder="Enter Number of People" autocomplete="off">
        </div><br>
        <div>
            <label for="date">Date </label><br>
            <input type="datetime-local">
        </div><br>
        <button class="button" type="submit">Register</button>
    </form>
</body>
</html>